/*начало стилей для features*/
.features_container{
    width: 789px;
    height: 261px;
    margin: 0 auto; /* центрирует блок внутри родителя. У блока должна быть указана ширина.*/
    display: flex;
    justify-content: space-between;
    align-items: center;/*размещает элементы по центру по вертикали*/
                        /*align-items отвечает за расположение элементов по вертикали*/
    margin-bottom: 100px;
    @media screen and (max-width:991px) {
        height: 460px;
        flex-direction: column;
        margin-bottom: 60px;
        width: 100%;
    }
}

.rectangle1{
    width: 246px;
    height: 224px;
    margin-right: 42px;
    @media screen and (max-width:991px) {
        margin-bottom: 40px;
    }
}

.features__list li{
    color: #0C2836;
    font-size: 32px;
    text-align: right;
    padding-bottom: 24px;
    line-height: 120%; /* line-height устанавливает интервал между строками текст*/
    @media screen and (max-width:991px) {
        text-align: center;
    }
}

.features__list li:last-child{
    padding-bottom: 0px;
}

.features__list li:first-child:hover{ /*при наведении на первый элемент списка у него меняется цвет*/
    color: #FC8602;
}

.rectangle2{
    height: 261px;

    background: #fff; /* Цвет фона */
    border-radius: 30px; /* Уголки */
    box-shadow: 2px 2px 5px 2px rgba(171, 169, 169, 0.5); /*тень вокруг таблички*/
    /* 1) x-offset, определяет горизонтальное положение тени; 2) y-offset, определяет вертикальное положение тени;
    3) радиус размытия, который влияет на резкость тени. Чем выше значение, тем менее насыщенные тени, и наоборот;
    4) четвёртое значение определяет распространение тени.*/
  
}

.rectangle2 img{
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 25px;
}

.rectangle2 p{
    color: #0C2836;
    font-family: "Montserrat";
    font-size: 18px;
    padding-left: 40px;
}
/*конец стилей для features*/